
.navbar {
    background-color: hwb(255 78% 10%);
    padding: 10px;
    margin: 0px;
    list-style: none;
    display: flex;


}   

nav li {
    list-style: none; 
    padding: 0px;
    color: white;
    margin: 0px;
    padding: 0px;
}


nav a {
    text-decoration: none;
    color: rgb(2, 6, 7);
    padding:  0%;
    border: 1px solid rgb(61, 70, 71);
    display: flex;
    width: 100%;


}

.nav-list {
    display: flex;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    justify-content: space-around;

}